<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
        <title>Document 1</title>


        <link href="/assets/css/style.css" rel="stylesheet">
    </head>

    <body class="font-sans">

        <header class="items-center justify-center uppercase text-sm px-[5%] py-3 mx-auto ">
            <div class="grid grid-cols-2 items-center justify-between border-b-2 border-black ">
                <h1 class="pb-3 items-center"><a href="#">This is a header</a></h2>
                <nav class="space-x-5 flex text-right">
                    <a href="#" class="px-3">Nav 1</a>
                    <a href="#" class="px-3">Nav 2</a>
                    <a href="#" class="px-3">Nav 3</a>
                    <a href="#" class="px-3">Nav 4</a>
                </nav>
            </div>
        </header>

        {{ content }}

        <footer class="px-[5%] flex grid-cols-3 uppercase gap-[500px] text-sm">
            <div class="grid grid-cols-2">
                <div>
                    <p>Lorem Ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
                </div>

                <div>
                    <p>Lorem Ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolore ducimus dolores.</p>
                </div>
            </div>

            <div>
                <label for="email" class="tracking-widest rounded-full text-sm pb-2">Subscribe to our newsletter</label>
                <input type="email" id="email" name="email" required class="w-full rounded-full mb-3 pl-3 text-black border border-black">
                <button type="submit" class="text-white bg-black border-black hover:text-black hover:bg-white hover:border-white transition px-4 py-1 tracking-widest">Subscribe</button>
            </div>
        </footer>
    </body>
</html>